# Variation of https://github.com/github/gitignore/blob/2141c823b4/Global/JetBrains.gitignore

# User-specific stuff:
/workspace.xml
/tasks.xml

# Sensitive or high-churn files:
/dataSources/
/dataSources.ids
/dataSources.xml
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
